<h1> Sign Up </h1>
<body>
  <div id="wrap">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <h1 class="intro-title"> WeatherOrNot </h1>
      <div class="form-inputs">
        <%= f.input :email, :input_html => { :class => 'email' },
            required: true, autofocus: true %>
        <%= f.input :password, :input_html => { :class => 'password'},
            required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            :hint_html => { :class => 'hint'} %>
        <%= f.input :password_confirmation, required: true %>
      </div>

      <div class="form-actions">
        <%= f.submit "Sign up", :class => "f-button"  %>
      </div>
    <% end %>
  </div>
</body>

<div class="links" ><%= render "devise/shared/links" %> </div>
